
.cabecera{
  max-height: 350px;
  overflow: hidden;
}
.cabecera_conte-img{
  max-height: 300px;
}
.cabecera_info{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cabecera_info1{
  width: 80%;
  padding: 2px;
  text-align: center;
  background-color: rgba(250, 235, 215, 0.473);
  border-radius: 10px;
  box-shadow: 3px 3px 3px black;
  color: black;
}
.cabecera_front{
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.cabecera_box_op{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70%;
  margin: 0 2px;
  font-weight: bold;
  font-style: oblique;
}
.cabecera_img{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cabecera_btn{
  box-shadow: 2px 2px 2px 1px black;
}
.cabecera_btn:hover{
  cursor: pointer;
  background-color: rgb(1, 42, 56);
  transform: scale(1.02);
}
@media (max-width:500px) {
  .cabecera{
    min-height: 380px;
    padding-bottom: 2px;
  }
  .cabecera_info1{
    width: 70%;
  }
  .cabecera_img{
    width: 30%;
  }
  .cabecera_boton{
    padding: 2px;
    margin: 0;
  }
  .cabecera_box_op{
    font-weight: unset;
  }
}