.minicard{
  width: 250px;
  transition: 0.1s ease-in-out;
  margin: 3px;
  background-position: center;
}
.minicard:hover{
  cursor: pointer;
  transform: scale(1.01);
}
.icono_minicard{
  width: 90px;
}
.minicard-contenedor2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: rgba(245, 243, 243, 0.74);
}
@media (min-width:400px) {
  .minicard{
    flex-wrap: wrap;
    width: 180px;
  }
}